<div class="row">
  <% if logged_in? %>
  <div class="row">
    <div class='col-md-1 well text-center'>
      a
    </div>
    <div class="well col-md-6">
      
      <%= render partial: "categories/category", collection: post.categories %>
      <p>
        <h4><b><%= post.title %></b></h4>
      </p>
      <p> 
        <%= post.content %>
      </p>
      <br>
      <div style="text-align:right">
        Posted at: <%= post.created_at %>
      </div>
      <span>
        <%= link_to "show this post", post_path(post) %>
      </span>
      
    </div>
  </div>
  <% end %>
</div>