<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <div style="float: left;">
    <span>
    <img src='https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-9/13631580_2051551721735729_1645356310055410217_n.png?oh=822e37f611b866ae99112734aad5c0d2&oe=58C2494A' alt="Like!" width="42" height="42" border="0" style="opacity:1.0;filter:alpha(opacity=80);"> 
    </span>
    </div>
      <%= link_to "Floral Art Mirror", root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to 'New Post', new_post_path %></li>
          <li><%= link_to 'New Category', new_category_path %></li>
        <% else %>
          <li><%= link_to 'Register', register_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <%= current_user.name %> <span class='caret'></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to 'User Profile', user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>